<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'photos:photo-list' %}">Shiny Gallery</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                {% if perms.photos.can_approve_photo %}
                <li><a class="dropdown-item" href="{% url 'photos:photo-pending-approval' %}">Pending approval</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'users:user-logout' %}">Sign out</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:user-login' %}">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:user-signup' %}">Sign up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
